<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIAppFonts</key>
	<array>
		<string>Cocogoose_Pro_Italic-trial.ttf</string>
		<string>Cocogoose_Pro_Light_Italic-trial.ttf</string>
		<string>Cocogoose_Pro_Light-trial.ttf</string>
		<string>Cocogoose_Pro_Semilight_Italic-trial.ttf</string>
		<string>Cocogoose_Pro_Semilight-trial.ttf</string>
		<string>Cocogoose_Pro_Thin_Italic-trial.ttf</string>
		<string>Cocogoose_Pro_Thin-trial.ttf</string>
		<string>Cocogoose_Pro_UltraLight_Italic-trial.ttf</string>
		<string>Cocogoose_Pro_Ultralight-trial.ttf</string>
		<string>Cocogoose_Pro-trial.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
		<string>Cocogoose_1.ttf</string>
		<string>Cocogoose_10.ttf</string>
		<string>Cocogoose_2.ttf</string>
		<string>Cocogoose_3.ttf</string>
		<string>Cocogoose_4.ttf</string>
		<string>Cocogoose_5.ttf</string>
		<string>Cocogoose_6.ttf</string>
		<string>Cocogoose_7.ttf</string>
		<string>Cocogoose_8.ttf</string>
		<string>Cocogoose_9.ttf</string>
		<string>Lato_1.ttf</string>
		<string>Lato_10.ttf</string>
		<string>Lato_2.ttf</string>
		<string>Lato_3.ttf</string>
		<string>Lato_4.ttf</string>
		<string>Lato_5.ttf</string>
		<string>Lato_6.ttf</string>
		<string>Lato_7.ttf</string>
		<string>Lato_8.ttf</string>
		<string>Lato_9.ttf</string>
		<string>Lato2.ttf</string>
	</array>
</dict>
</plist>
